body {
    background: url('../images/polar-bear.jpg');
    font-family: Georgia, Times, serif;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 4px;
    text-shadow:2px 2px 5px rgb(171, 211, 211);

}

div.content {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 5px;
}

div.factors {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 600px;
}

.heading {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

h1, h2, h3 {
    text-shadow:2px 2px 5px rgb(171, 211, 211);
}
.primary {
    font-weight: bolder;
}

.content {
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.feedback-loop-item {
    list-style-type: none;
    margin: 3px;
    padding: 5px;
    border: 2px solid;
    border-color:beige;
    background: rgba(171, 211, 211, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-shadow: 1px 1px 3px rgb(44, 41, 38);
}